exportPattern("^[[:alpha:]]+")
import(rJava)
import(DatabaseConnector)
import(SqlRender)
import(shiny)
import(shinyjs)
import(highcharter)
import(treemap)
import(DT)
import(xts)
import(dplyr)
import(dygraphs)
import(lubridate)
import(plotly)
import(ECharts2Shiny)
import(shinythemes)
import(visNetwork)
import(dplyr)
import(ggplot2)
import(ggiraph)
import(reshape)
import(reshape2)
import(dplyr)
import(knitr)
import(shinyBS)


