.about__Summary{
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.Summary{
	background-color: #5ba5de;
	padding: 0px 40px 20px 40px;
	border-radius: 20px 20px 20px 20px;
}

.Summary__name{

}

.Summary__description{
	background-color: #92bdde;
	text-align: center;
	line-height: 80px;
	height: 80px;
	white-space: pre-line;
}